<mat-form-field color="primary" appearance="standard">
  <mat-label>{{ label | translate }}</mat-label>
  <mat-select #field [value]="value" (valueChange)="emitValue($event)">
    <mat-option *ngFor="let select of selects" [value]="select"> {{ 'KEY_' + select | translate }} </mat-option>
  </mat-select>
</mat-form-field>
<mat-icon *ngIf="showRemove" class="clear" [ngClass]="{'disabled': !valueSet()}" (click)="emitRemove()" color="primary" aria-hidden="false" aria-label="clear icon">clear</mat-icon>

