<mat-card (click)="setKpi()" class="detail">
  <h3 [ngStyle]="{'font-weight': getFontWeightForHeadline()}">{{'KEY_' + label | translate}}</h3>
  <div class="amount-wrapper">
    <div class="kpi">
      <div *ngIf="isCompare && isSelected()" class="color-element" [ngStyle]="{'background-color': getColorForFilter()}"></div>
      <div class="amount">{{kpi.toLocaleString('de-DE')}}</div>
    </div>
    <div class="kpi">
      <div *ngIf="isCompare && isSelected()" class="color-element" [ngStyle]="{'background-color': getColorForCompare()}"></div>
      <div *ngIf="isCompare" class="amount">{{kpiCompare.toLocaleString('de-DE')}}</div>
    </div>
  </div>
</mat-card>


