
.detail:hover {
  cursor: pointer;
}
.detail {
  margin: 5px;
  height: 80px;
  h3 {
    margin: 0;
  }
  .amount-wrapper {
    display: flex;
    .kpi {
      min-width: 100px;
      display: flex;
      .color-element {
        width: 15px;
        height: 15px;
        margin: 6px;
        border: 1px solid black;
        border-radius: 5px;
      }
      .amount {
        margin: 4px;
      }
    }

  }
}
