<mat-form-field color="primary" appearance="standard">
  <mat-label class="label">{{ label | translate }}</mat-label>
  <input [formControl]="date" (dateChange)="setDate($event)" matInput [matDatepicker]="picker">
  <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
  <mat-datepicker #picker [startAt]="start"></mat-datepicker>
</mat-form-field>
<mat-icon *ngIf="showRemove" class="clear" [ngClass]="{'disabled': !valueSet()}" (click)="emitRemove()" color="primary" aria-hidden="false" aria-label="clear icon">clear</mat-icon>

