<mat-form-field appearance="standard">
  <mat-label class="label">{{ label | translate }}</mat-label>
  <input type="text" matInput [matAutocomplete]="auto" [formControl]="control">
  <mat-autocomplete #auto="matAutocomplete" (optionSelected)="emitValue($event.option.value)">
    <mat-option *ngFor="let option of getSelects() | async" [value]="option | translate"> {{ option | translate }}</mat-option>
  </mat-autocomplete>
</mat-form-field>
<mat-icon *ngIf="showRemove" class="clear" [ngClass]="{'disabled': !valueSet()}" (click)="emitRemove()" color="primary" aria-hidden="false" aria-label="clear icon">clear</mat-icon>



