<div class="wrapper">
  <div class="building-hint" *ngIf="!showChart">
    <mat-spinner [diameter]="60" ></mat-spinner>
    <span class="hint-text">{{ 'KEY_BUILDING_CHART' | translate }}</span>
  </div>
  <highcharts-chart *ngIf="showChart" style="width: 100%; height: 600px; display: block;"
      [oneToOne]="true"
      [Highcharts]="Highcharts"
      [options]="chart">
  </highcharts-chart>
</div>




