.wrapper {

  min-height: 300px;
  position: relative;

  .building-hint {
    position: absolute;
    top: 50%; left: 50%;
    transform: translate(-50%,-50%);
    width: 200px;
    height: 100px;

    mat-spinner {
      margin: 10px auto;
    }
    .hint-text {
      width: 200px;
      margin: 0 auto;
      display: block;
      text-align: center;
    }
  }
}
