.select-value {
  display: block;
}

.config-wrapper {
  .input-wrapper.compare {
    width: 500px !important;
  }
  .input-wrapper.filter {
    width: 250px !important;
  }
  .input-wrapper {

    .filter-dataset {
      display: inline-block;
      width: 250px;

      .filter-input {
        display: block;
      }
    }
  }
}
