<div class="container" class="config-wrapper">
  <div *ngIf="(filterConfig$ | async) as filterConfig">
    <mat-slide-toggle *ngIf="filterConfig.queryParams.layout.layoutType === 'graph'"
      [checked]="filterConfig.queryParams.config.inPercentage"
      (change)="toggleInPercentage(filterConfig.queryParams.config.inPercentage)">{{ "KEY_In_PERCENTAGE" | translate }}
    </mat-slide-toggle>
    <br/>
    <mat-slide-toggle *ngIf="filterConfig.queryParams.layout.layoutType === 'graph'"
      [checked]="filterConfig.queryParams.config.cumulative"
      (change)="toggleCumulative(filterConfig.queryParams.config.cumulative)">{{ "KEY_CUMULATIVE" | translate }}
    </mat-slide-toggle>
    <div class="input-wrapper" [ngClass]="{ 'compare': filterConfig.queryParams.layout.compare, 'filter': !filterConfig.queryParams.layout.compare }">
      <div class="filter-dataset">
        <app-select-input class="select-value"
          [label]="'KEY_EXAMINE' | translate"
          [showRemove]="false"
          [value]="filterConfig.queryParams.config.filterKpi"
          [selects]="getFilterKpis(filterConfig.appFilterConfig)"
          (selectedElement)="setFilterKpi($event)">
        </app-select-input>
      </div>
      <div *ngIf="filterConfig.queryParams.layout.compare" class="filter-dataset">
        <app-select-input *ngIf="filterConfig.queryParams.layout.layoutType === 'graph'" class="select-value"
          [label]="'KEY_EXAMINE' | translate"
          [showRemove]="false"
          [value]="filterConfig.queryParams.config.compareKpi"
          [selects]="getCompareKpis(filterConfig.appFilterConfig)"
          (selectedElement)="setCompareKpi($event)">
        </app-select-input>
      </div>
    </div>
    <app-select-input *ngIf="filterConfig.queryParams.layout.layoutType === 'map'" class="select-value"
      [label]="'KEY_COLOR_PALETTE' | translate"
      [showRemove]="false"
      [value]="filterConfig.queryParams.config.selectedColorScheme"
      [selects]="getColorSchemes()"
      (selectedElement)="setColorScheme($event)">
    </app-select-input>
    <app-select-input *ngIf="filterConfig.queryParams.layout.layoutType === 'graph'" class="select-value"
      [label]="'KEY_GRAPH_TYPE' | translate"
      [showRemove]="false"
      [value]="filterConfig.queryParams.config.graphType"
      [selects]="getGraphTypes()"
      (selectedElement)="setGraphType($event)">
    </app-select-input>
    <br/>
  </div>
</div>
