:host {
  .details-wrapper {
    width: 250px !important;
    .clear {
      display: block;
    }
  }
  .clear:hover {
    cursor: pointer;
  }
  .headline {
    color: white;
    padding: 5px;
  }
  .kpi-card {
    margin: 5px;
  }
}

