<div *ngIf="(compareAndKpisAndDataset$ | async) as compareAndKpiAndDataset" class="details-wrapper">
  <mat-icon class="clear" (click)="hideDetails()" color="primary" aria-hidden="false" aria-label="clear icon">clear</mat-icon>
  <div class="details">
    <app-detail *ngIf="compareAndKpiAndDataset.selectedDataset === 'RKI'"
      [label]="'COUNT_HEALED'"
      [kpi]="compareAndKpiAndDataset.kpi[0].anzahlGenesen"
      [kpiCompare]="compareAndKpiAndDataset.kpi[1].anzahlGenesen"
      [isCompare]="compareAndKpiAndDataset.compare">
    </app-detail>

    <app-detail *ngIf="compareAndKpiAndDataset.selectedDataset === 'RKI'"
      [label]="'COUNT_NEW_HEALED'"
      [kpi]="compareAndKpiAndDataset.kpi[0].neuGenesen"
      [kpiCompare]="compareAndKpiAndDataset.kpi[1].neuGenesen"
      [isCompare]="compareAndKpiAndDataset.compare">
    </app-detail>

    <app-detail *ngIf="compareAndKpiAndDataset.selectedDataset === 'RKI'"
      [label]="'COUNT_CASE'"
      [kpi]="compareAndKpiAndDataset.kpi[0].anzahlFall"
      [kpiCompare]="compareAndKpiAndDataset.kpi[1].anzahlFall"
      [isCompare]="compareAndKpiAndDataset.compare">
    </app-detail>

    <app-detail *ngIf="compareAndKpiAndDataset.selectedDataset === 'RKI'"
      [label]="'COUNT_NEW_CASE'"
      [kpi]="compareAndKpiAndDataset.kpi[0].neuerFall"
      [kpiCompare]="compareAndKpiAndDataset.kpi[1].neuerFall"
      [isCompare]="compareAndKpiAndDataset.compare">
    </app-detail>

    <app-detail *ngIf="compareAndKpiAndDataset.selectedDataset === 'RKI'"
      [label]="'COUNT_DEATH_CASE'"
      [kpi]="compareAndKpiAndDataset.kpi[0].anzahlTodesfall"
      [kpiCompare]="compareAndKpiAndDataset.kpi[1].anzahlTodesfall"
      [isCompare]="compareAndKpiAndDataset.compare">
    </app-detail>

    <app-detail *ngIf="compareAndKpiAndDataset.selectedDataset === 'RKI'"
      [label]="'COUNT_NEW_DEATH_CASE'"
      [kpi]="compareAndKpiAndDataset.kpi[0].neuerTodesfall"
      [kpiCompare]="compareAndKpiAndDataset.kpi[1].neuerTodesfall"
      [isCompare]="compareAndKpiAndDataset.compare">
    </app-detail>

    <app-detail *ngIf="compareAndKpiAndDataset.selectedDataset === 'RKI'"
      [label]="'COUNT_IS_ILLNESS_START'"
      [kpi]="compareAndKpiAndDataset.kpi[0].isErkrankunsbeginn"
      [kpiCompare]="compareAndKpiAndDataset.kpi[1].isErkrankunsbeginn"
      [isCompare]="compareAndKpiAndDataset.compare">
    </app-detail>

    <app-detail *ngIf="compareAndKpiAndDataset.selectedDataset === 'VACCINATIONS'"
      [label]="'VACCINATIONS_AMOUNT'"
      [kpi]="compareAndKpiAndDataset.kpi[0].vaccinationAmount"
      [kpiCompare]="compareAndKpiAndDataset.kpi[1].vaccinationAmount"
      [isCompare]="compareAndKpiAndDataset.compare">
    </app-detail>

    <app-detail *ngIf="compareAndKpiAndDataset.selectedDataset === 'DEATHS'"
      [label]="'DEATHS'"
      [kpi]="compareAndKpiAndDataset.kpi[0].deaths"
      [kpiCompare]="compareAndKpiAndDataset.kpi[1].deaths"
      [isCompare]="compareAndKpiAndDataset.compare">
    </app-detail>

  </div>
</div>
