<div *ngIf="(showDetailsAndCompare$ | async) as showDetailsAndIsCompare">
  <div id="legend" *ngIf="showDetailsAndIsCompare.isCompare" [ngStyle]="{'right': getPositionFromRight(showDetailsAndIsCompare.showDetails)}">
    <label class="label">{{ 'KEY_LEGEND' | translate }}</label>
    <label class="selected-kpi" *ngIf="(selectedKpi$ | async) as kpi">{{ 'KEY_' + kpi | translate }}</label>
    <li class="list-element" *ngFor="let colorAndText of getColorsAndLabels()">
      <div class="color-element" [ngStyle]="{'background-color': colorAndText.color}"></div>
      <label>{{ colorAndText.text | translate }}</label>
    </li>
  </div>
</div>
