#legend {
  background-color: white;
  min-height: 50px;
  width: 200px;
  position: absolute;
  z-index: 9999;
  bottom: 50px;
  opacity: 0.8;
  border: 2px solid black;
  border-radius: 5px;

  .selected-kpi {
    margin: 3px;
    display: block;
  }
  .label {
    margin: 3px;
    font-weight: bold;
  }
  .list-element {
    list-style-type: none;
    display: flex;
    margin: 2px;
    .color-element {
      width: 15px;
      height: 15px;
      margin: 6px;
      border: 1px solid black;
      border-radius: 5px;
    }
    label{
      padding: 3px;
      margin: 0;
    }
  }


}
