<div class="container" *ngIf="(filterConfig$ | async) as filterConfig" class="filter-wrapper">
  <br/><br/>
  <mat-slide-toggle
    [checked]="filterConfig.queryParams.layout.compare"
    (change)="toggleCompare(filterConfig.queryParams)">
    {{ "KEY_COMPARE" | translate }}</mat-slide-toggle>
  <br/><br/>
  <div class="input-wrapper" [ngClass]="{ 'compare': filterConfig.queryParams.layout.compare, 'filter': !filterConfig.queryParams.layout.compare }">
    <div class="filter-dataset">
      <app-select-input class="filter-input"
          [label]="'KEY_DATA_SOURCE'"
          [showRemove]="false"
          [value]="filterConfig.queryParams.filter.filterDataset"
          [selects]="filterConfig.appFilterConfig.datasets"
          (selectedElement)="setFilterDataset($event, filterConfig.queryParams)">
      </app-select-input>
      <app-date-input class="filter-input"
          [showRemove]="true"
          [label]="'KEY_FROM'"
          [start]="filterConfig.queryParams.filter.from"
          (selectedDate)=setFrom($event)
          (removeElement)="setFrom()">
      </app-date-input>
      <app-date-input class="filter-input"
          [showRemove]="true"
          [label]="'KEY_TO'"
          [start]="filterConfig.queryParams.filter.to"
          (selectedDate)=setTo($event)
          (removeElement)=setTo()>
      </app-date-input>
      <ng-container *ngIf="filterConfig.appFilterConfig.filterConfig">
        <ng-container *ngFor="let filterConf of filterConfig.appFilterConfig.filterConfig.dropdownFilter">
          <app-select-input *ngIf="isFilterVisible(filterConf, filterConfig.queryParams.layout)" class="filter-input"
              [label]="'KEY_' + filterConf.type"
              [selects]="filterConf.options"
              [value]="getLatestFilterValueFor(filterConfig.queryParams.filter, filterConf.type)"
              (removeElement)="removeDynamicFilter(filterConf.type)"
              (selectedElement)="addDynamicFilter(filterConf, $event)">
          </app-select-input>
        </ng-container>
        <ng-container *ngFor="let filterConf of filterConfig.appFilterConfig.filterConfig.autocompleteFilter">
          <app-autocomplete-input *ngIf="isFilterVisible(filterConf, filterConfig.queryParams.layout)" class="filter-input"
              [label]="filterConf.type"
              [value]="getLatestFilterValueFor(filterConfig.queryParams.filter, filterConf.type, '')"
              [selects]="filterConf.options"
              (removeElement)="removeDynamicFilter(filterConf.type)"
              (selectedElement)="addDynamicFilter(filterConf, $event)">
          </app-autocomplete-input>
        </ng-container>
      </ng-container>
    </div>
    <div *ngIf="filterConfig.queryParams.layout.compare" class="filter-dataset">
      <app-select-input *ngIf="filterConfig.queryParams.layout.layoutType === 'graph'" class="filter-input"
          [label]="'KEY_DATA_SOURCE'"
          [showRemove]="false"
          [value]="filterConfig.queryParams.filter.compareDataset"
          [selects]="filterConfig.appFilterConfig.datasets"
          (selectedElement)="setCompareDataset($event, filterConfig.queryParams)">
      </app-select-input>
      <app-date-input class="filter-input"
          [showRemove]="true"
          [label]="'KEY_FROM'"
          [start]="filterConfig.queryParams.filter.fromCompare"
          (selectedDate)=setFromCompare($event)
          (removeElement)="setFromCompare()">
      </app-date-input>
      <app-date-input class="filter-input"
          [showRemove]="true"
          [label]="'KEY_TO'"
          [start]="filterConfig.queryParams.filter.toCompare"
          (selectedDate)=setToCompare($event)
          (removeElement)="setToCompare()">
      </app-date-input>
      <ng-container *ngIf="filterConfig.appFilterConfig.compareConfig">
        <ng-container *ngFor="let filterConf of filterConfig.appFilterConfig.compareConfig.dropdownFilter">
          <app-select-input *ngIf="isFilterVisible(filterConf, filterConfig.queryParams.layout)" class="filter-input"
              [label]="'KEY_' + filterConf.type"
              [selects]="filterConf.options"
              [value]="getLatestCompareValueFor(filterConfig.queryParams.filter, filterConf.type)"
              (removeElement)="removeDynamicCompare(filterConf.type)"
              (selectedElement)="addDynamicCompare(filterConf, $event)">
          </app-select-input>
        </ng-container>
        <ng-container *ngFor="let filterConf of filterConfig.appFilterConfig.compareConfig.autocompleteFilter">
          <app-autocomplete-input *ngIf="isFilterVisible(filterConf, filterConfig.queryParams.layout)" class="filter-input"
              [label]="filterConf.type"
              [value]="getLatestCompareValueFor(filterConfig.queryParams.filter, filterConf.type, '')"
              [selects]="filterConf.options"
              (removeElement)="removeDynamicCompare(filterConf.type)"
              (selectedElement)="addDynamicCompare(filterConf, $event)">
          </app-autocomplete-input>
        </ng-container>
      </ng-container>
    </div>
  </div>
</div>
