.geo-container {
  width: 100%;
  height: 100%;
  border: 1px solid rgba(0, 0, 0, 0.5);
  .geo-sidenav {
    padding: 20px;
    min-width: 20%;
    background-color: rgba(0, 0, 0, 0.9);
    color: white;
    .geo-sidenav-content {
      margin-top: 25px;
      .clear:hover {
        cursor: pointer;
      }
    }
  }
  .geo-content {
    height: 100%;
    align-items: center;
    justify-content: center;

    header{
      background-color: rgba(0, 0, 0, 0.9);
      width: 100%;
      min-height: 45px;
      display: flex;
      #spinner {

      }
      .menu-button {
        margin: 4px;
        z-index: 1001;
      }

      .donate {
        position: absolute;
        right: 10px;
        top: 10px;
      }
    }
  }
  .geo-details {
    min-width: 250px;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.9);
    position: absolute;
    right: 0px;
    top: 45px;
    z-index: 999;

    .clear {
      font-size: 36px;
      cursor: pointer;
    }
  }
}

:host::ng-deep.mat-drawer-backdrop {
  display: none;
}









