<app-info *ngIf="showInfo$ | async"></app-info>
<mat-drawer-container *ngIf="(filterLayout$ | async) as filterLayout" class="geo-container" autosize>
  <mat-drawer #drawer [opened]='filterLayout.layout.sidebarVisible' class="geo-sidenav" mode="over">
    <div class="geo-sidenav-content">
      <mat-icon class="clear" (click)="closeSidebar()" color="primary" aria-hidden="false" aria-label="clear icon">clear</mat-icon>
      <mat-accordion [multi]="true">
        <mat-expansion-panel [expanded]="filterLayout.layout.expandFilter" (expandedChange)="toggleFilterVisible(!filterLayout.layout.expandFilter)">
          <mat-expansion-panel-header>
            <mat-panel-title>{{ 'KEY_FILTER_AND_COMPARE' | translate }}</mat-panel-title>
          </mat-expansion-panel-header>
          <app-filter></app-filter>
        </mat-expansion-panel>
        <mat-expansion-panel [expanded]="filterLayout.layout.expandColorScheme" (expandedChange)="toggleColorSchemeVisible(!filterLayout.layout.expandColorScheme)">
          <mat-expansion-panel-header>
            <mat-panel-title>{{ 'KEY_COLOR_SCHEME' | translate }}</mat-panel-title>
          </mat-expansion-panel-header>
          <app-color-scheme></app-color-scheme>
        </mat-expansion-panel>
      </mat-accordion>
    </div>
  </mat-drawer>
  <div class="geo-content">
    <header [ngStyle]="{'padding-left': getSidebarWidth(filterLayout.layout.sidebarVisible)}">
      <button class="menu-button" mat-mini-fab color="primary" aria-label="Menu" (click)="toggleSidebar(filterLayout.layout.sidebarVisible)">
        <mat-icon>menu</mat-icon>
      </button>
      <button *ngIf="filterLayout.layout.layoutType === 'map'" class="menu-button" mat-mini-fab color="primary" aria-label="Menu" (click)="showGraph()">
        <mat-icon>legend_toggle</mat-icon>
      </button>
      <button *ngIf="filterLayout.layout.layoutType === 'graph'" class="menu-button" mat-mini-fab color="primary" aria-label="Menu" (click)="showMap()">
        <mat-icon>public</mat-icon>
      </button>
      <button *ngIf="filterLayout.layout.sidebarVisible || (showDetails$ | async)" class="menu-button" mat-mini-fab color="primary" aria-label="Menu" (click)="clearSight()">
        <mat-icon>zoom_out_map</mat-icon>
      </button>
      <button  class="menu-button" mat-mini-fab color="primary" aria-label="Refresh" (click)="resetChartAppConfig()">
        <mat-icon>refresh</mat-icon>
      </button>
      <button class="menu-button" mat-mini-fab color="primary" aria-label="Info" (click)="showInfo()">
        <mat-icon>info</mat-icon>
      </button>
      <mat-spinner *ngIf="showSpinner$ | async" id="spinner" [diameter]="45"></mat-spinner>
      <form class="donate" action="https://www.paypal.com/donate" method="post" target="_top">
        <input type="hidden" name="hosted_button_id" value="LDQUUZT82VPMY" />
        <input type="image" src="https://www.paypalobjects.com/de_DE/DE/i/btn/btn_donate_SM.gif" border="0" name="submit" title="PayPal - The safer, easier way to pay online!" alt="Spenden mit dem PayPal-Button" />
        <img alt="" border="0" src="https://www.paypal.com/de_DE/i/scr/pixel.gif" width="1" height="1" />
      </form>
    </header>
    <main>
      <app-map *ngIf="filterLayout.layout.layoutType === 'map'"></app-map>
      <app-chart *ngIf="filterLayout.layout.layoutType === 'graph'"></app-chart>
    </main>
  </div>
  <div class="geo-details" *ngIf="showDetails$ | async">
    <app-details></app-details>
  </div>
</mat-drawer-container>

