<div class="info">
  <div class="wrapper container">
    <h1 class="row">{{'KEY_TITLE' | translate }}</h1>
    <div class="row">
      <div class="col-xs-12 col-md-6 content">
        <p>Diese Anwendung befindet sich in Entwicklung, wesshalb Fehler nicht ausgeschlossen sind.</p>
        <p>Die Anwendung ist nicht für mobile Endgeräte (Smartphone/Tablet) geeignet und wurde in erstler Linie für den Chrome Browser ausgelegt.</p>
        <p>Sie können die Anwendung nutzen, um die Daten welche ich vom <a target="_blank" href="https://npgeo-corona-npgeo-de.hub.arcgis.com/datasets/dd4580c810204019a7b8eb3e0b329dd6_0">RKI(Corona)</a>, <a target="_blank" href="https://raw.githubusercontent.com/robert-koch-institut/COVID-19-Impfungen_in_Deutschland/master/Aktuell_Deutschland_Bundeslaender_COVID-19-Impfungen.csv">RKI(Impfungen)</a> und <a href="https://www.destatis.de/DE/Themen/Gesellschaft-Umwelt/Bevoelkerung/Sterbefaelle-Lebenserwartung/Tabellen/sonderauswertung-sterbefaelle.html" target="_blank">Destatis(Sterbefälle)</a> abziehe zu analysieren und unterschiedliche Zeiträume miteinander zu vergleichen.</p>
        <p>Auf der verlinkten RKI Seite können Sie auch die Beschreibung zu den Daten finden.</p>
        <p>Stand jetzt muss ich die Daten täglich manuell abziehen, also sind sie nicht immer Top-aktuell.</p>
        <p>Da sich die RKI Daten nur auf Deutschland beziehen, kann ich auch nur Daten aus Deutschland darstellen.</p>
        <p>Bei diesem Projekt handelt es sich um eine private Weiterbildung und daher biete ich keinen Support.</p>
        <p>Quellcode: <a target="_blank" href="https://gitlab.com/Majerium/geo">geo</a></p>

      </div>
      <div class="d-none d-sm-block col-md-6 content">
        <img class="info-pic" src="./assets/pictures/info-pic.PNG">
      </div>
    </div>
    <div class="row">
      <div class="col-xs-6" style="padding-left: 15px">
        <button mat-raised-button color="primary" (click)="hideInfo()">{{'KEY_START' | translate}}</button>
      </div>
    </div>
  </div>
</div>
