.info {
  background-color: rgba(0, 0, 0, 1);
  z-index: 9999;
  position: absolute;
  top: 0;
  color: white;
  width: 100%;
  height: 100%;

  h1, button {
    margin: 40px 0px;
  }

  img {
    width: 600px;
  }
}
